{% extends "base.html" %} 

{% block title %}CMDB{% endblock title %}

{% block navbar_items %}
    {% for group, items in navbar_groups.iteritems() %}
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            {{ group }}
            </a>
            <ul class="dropdown-menu" role="menu">
                {% for model in items %}
                    <li><a href="/assets/view/{{ model.__name__.lower() }}/">{{ model().get_model_friendly_name() }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
{% endblock navbar_items %}


{% block search_bar %}
    {{ super() }}
    {% set search_disabled = "" %}
    {% if not current_user.is_authenticated() %}
        {% set search_disabled = "disabled" %}
    {% endif %}

    <input autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" class="form-control disabled" id="search" name="search" placeholder="Search Assets" type="text" value="" {{ search_disabled }}>
    <button class="btn btn-default btn-success btn-default {{ search_disabled }}" type_="submit" {{ search_disabled }}><span class="glyphicon glyphicon-search"></span></button>
{% endblock search_bar %}
 
{% block scripts %}
    {{ super() }}
    <script>
        {% include 'filter_input.js' %}
        {% include 'input_group.js' %}
        {% include 'search.js' %}

        //input_group($(".date-picker"), "calendar");
        input_group($("input#notes"), "info-sign");
        input_group($("input#description"), "info-sign");
        input_group($("select#hardware_model"), "hdd");
        input_group($("input#asset_tag"), "tag");
        input_group($("select#software"), "floppy-disk");
    </script>
{% endblock scripts %}
