{% extends "base.html" %} 

{% block title %}CMDB{% endblock title %}

{% block navbar_items %}
    {% for group, items in navbar_groups.iteritems() %}
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            {{ group }}
            </a>
            <ul class="dropdown-menu" role="menu">
                {% for model in items %}
                    <li><a href="/assets/view/{{ model.__name__.lower() }}/">{{ model().get_model_friendly_name() }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
{% endblock navbar_items %}
