{% extends "bootstrap/base.html" %} 
{% block title %}nCMDB{% endblock title %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='brand.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}?v=2" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.png') }}?v=2" type="image/x-icon">
{% endblock head %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
{% endblock styles %}

{% block navbar %}
<div class="navbar transparent navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container" class="lead">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">nCMDB</div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% for group, items in navbar_groups.iteritems() %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        {{ group }}
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            {% for model in items %}
                                <li><a href="/view/{{ model.__name__.lower() }}/">{{ model().get_model_friendly_name() }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                <span>
                </span>
                </li>
                <li>
                    <div class="btn-group">
                    {% if current_user.is_authenticated() %}
                        <div type="button" class="btn btn-default navbar-btn btn-dead" role="button">
                            <span class="glyphicon glyphicon-user"></span> {{ current_user.name }}
                        </div>
                        <a type="button" class="btn btn-default navbar-btn" role="button" href="{{ url_for('auth.logout') }}">
                                Sign Out
                        </a>
                    {% else %}
                        <div type="button" class="btn btn-default btn-dead navbar-btn" role="button">
                            <span class="glyphicon glyphicon-user"></span> Nobody 
                        </div>
                        <a type="button" class="btn btn-default navbar-btn" href="{{ url_for('auth.login') }}">
                            Sign In
                        </a>
                    {% endif %}
                </li>
           </ul>
      <form class="navbar-form navbar-right" role="search" action="/search" method="POST">
        <div class="input-group">
            <div class="form-group">
                {% if search_form and current_user.is_authenticated() %}
                    {{ search_form.search }}
                    {{ search_form.submit }}
                {% else %}
                    <input class="form-control disabled" id="search" name="search" placeholder="Search" type="text" value="" disabled>
                    <button class="btn btn-default btn-success btn-lg disabled" type_="submit" disabled><span class="glyphicon glyphicon-search"></span></button>
                {% endif %}
            </div>
            
        </div>
      </form>
        </div>


    </div>
</div>
<div class="row spacer">
   <div class="span4">...</div>
   <div class="span4">...</div>
   <div class="span4">...</div>
</div>
{% endblock navbar %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock page_content%}
</div>
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
    <script>
        {% include 'filter_input.js' %}
        {% include 'input_group.js' %}
        {% include 'jquery.hotkeys.js' %}
        console.log("Document Ready Run");
        input_group($("input#notes"), "info-sign");
        input_group($("input#description"), "info-sign");
        input_group($("select#hardware_model"), "hdd");
        input_group($("input#asset_tag"), "tag");
        input_group($("select#software"), "floppy-disk");
        
        $(document).on('keydown', null, 'esc', function(){
              $("#search").focus();
        });  
    </script>
{% endblock scripts %}
