{% extends "bootstrap/base.html" %}

{% block title %}nCMDB{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='brand.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
<div class="navbar-default navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand"><h3>nCMDB</h3></span>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}"><h4>Home</h4></a></li>
                <li><a href="{{ url_for('main.system') }}"><h4>System</h4></a></li>
                <li><a href="{{ url_for('main.software') }}"><h4>Software</h4></a></li>
                <li><a href="{{ url_for('main.hardware') }}"><h4>Hardware</h4></a></li>
                <li><a href="{{ url_for('main.locations') }}"><h4>Locations</h4></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated() %}
                    <li><a href="{{ url_for('auth.logout') }}">{{ current_user.name }}-Sign Out</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.login') }}">Sign In</a></li>
                {% endif %}
           </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
        </div>


    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script>
{% include 'filter_input.js' %}
{% include 'input_group.js' %}

    $(document).ready(function() {
        input_group($("input#notes"), "info-sign");
        input_group($("input#description"), "info-sign");
        input_group($("select#hardware_model"), "hdd");
        input_group($("input#asset_tag"), "tag");
        input_group($("select#software"), "floppy-disk");
        {% block jquery_ready %}
        {% endblock %}
    });
</script>
{% endblock %}
