{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block page_content %}
<div class="page-header">
    <h1>{{ Table.__tablename__.upper() }}</h1>
</div>
<div class="col-md-3">
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
<script>
    {% for parent, child in cascade %}
        var parent_name = "{{ parent.__name__.lower() }}";
        var child_name = "{{ child.__name__.lower() }}";
        var parent_selector = "select#" + parent_name;
        var child_selector = "select#" + child_name;
        $(parent_selector).attr("child", child_name);
        $(child_selector).attr("parent", parent_name);
        $(child_selector).find("option").remove();

        $(parent_selector).change( function() {
            parent_name = $(this).attr("id");
            child_name = $(this).attr("child");
            parent_selector = "select#" + parent_name;
            child_selector = "select#" + child_name;
            parent_id = $(this).find(":selected").val();
            console.log("Fired " + parent_name);

            $.get( "/parent_child/" + parent_name + "/" + child_name + "/" + parent_id, function( data ) {
                $(child_selector).find("option").remove();
                $(child_selector).append(data);
            });
            $(child_selector).children().removeAttr("selected");
            $(child_selector + " option:visible").first().attr("selected", "selected");
        });
        $(parent_selector).trigger("change")
    {% endfor %}
</script>
{% endblock %}
