{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block page_content %}
<div class="page-header text-info">
    <h1><strong>{{ model.get_model_friendly_name() }}</strong></h1>
</div>
<div class="col-md-3">
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    var parent_name;
    {% for group in cascade %}
        {% for select in group %}
        if ( parent_name !== undefined ){
            var child_name = "{{ select }}";

            var parent_selector = "select#" + parent_name;
            var child_selector = "select#" + child_name;
            // Store the correct default starting value
            $(child_selector).data("selected", $(child_selector).val());

            $(parent_selector).attr("child", child_name);
            $(child_selector).attr("parent", parent_name);
            $(child_selector).find("option").remove();

            $(parent_selector).change( function() {
                var parent_name = $(this).attr("id");
                var current = "select#" + parent_name;
                // Disable & hide all children and set to loading
                while (true) {
                    var parent_name = $(current).attr("id");
                    var child_name = $(current).attr("child");
                    var child_selector = "select#" + child_name;
                    current = "select#" + child_name;

                    // Save the default starting values before the cascade logic
                    var stored_default = $(child_selector).data("selected");
                    if (stored_default == undefined || stored_default == null) {
                            var child_value = $(child_selector).val();
                            $(child_selector).data("selected", child_value);
                    }

                    $(current).prop("disabled", true);
                    $(current).hide();
                    $(current).before("<div id=" + parent_name + "_loading ><img src='/static/img/loading.gif' /></div>");
                    $(current).find("option").remove();

                    var child_attr = $(current).attr("child");
                    if ( typeof child_attr == "undefined" || child_attr == false) {
                        break;
                    }
                }
                current = "select#" + $(this).attr("id");
    
                // Reload every dependent select child by child
                while (true) {
                    var parent_name = $(current).attr("id");
                    var child_name = $(current).attr("child");

                    current = "select#" + child_name;
                    var parent_id = $("select#" + parent_name).find(":selected").val();
                    
                    var get_url = "/parent_child/" + parent_name + "/" + child_name + "/" + parent_id;
                    var new_children;
                    // Load cached queries or make an Ajax call
                    if ( $(current).data(get_url) !== undefined ) {
                        new_children = $(current).data(get_url);
                    } else {
                        new_children = $.ajax({
                        type: "GET",
                        url: get_url,
                        async: false
                        }).responseText;
                        $(current).data(get_url, new_children);
                    }
                    $(current).append(new_children);
                    $("div#" + parent_name + "_loading").remove();
                    $(current).prop("disabled", false);
                    $(current).show();
                    $(current).children().removeAttr("selected");
                    $(current + " option:visible").first().attr("selected", "selected");
                    var child_attr = $(current).attr("child");

                    // Set the select to the starting value
                    var selected_item = $(current).data("selected");
                    var selected_item_exists = 0 != $(current + ' option[value='+selected_item+']').length;
                    if ( selected_item_exists ) 
                        $(current).val(selected_item);

                    if ( typeof child_attr == "undefined" || child_attr == false) {
                        break;
                    }
                }
            });
            $(parent_selector).trigger("change")
        }
        var parent_name = "{{ select }}";
    {% endfor %}
    {% endfor %}
</script>
{% endblock %}
