{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block page_content %}
<div class="page-header">
    <h1>nCMDB</h1>
</div>

<table class="table table-striped">
    <thead>
        <th>Item</th>
        <th>Description</th>
    </thead>
    <tbody>
    {% for group in groups %}
        {% for model in group %}
            <tr>
                <td><a href="/view/{{ model.__name__.lower() }}">{{ model.__name__ }}</a></td>
                <td> {{ model.__doc__ }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
