{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block page_content %}
<div class="page-header">
    <h1>Search</h1>
</div>

<table class="table table-striped">
    <thead>
        <th>CI</th>
        <th>Match Text</th>
    </thead>
    <tbody>
    {% for model in results %}
            <tr>
                <td><a href="/edit/{{ model.__class__.__name__.lower() }}/{{ model.id }}">{{ model.get_model_friendly_name() }}</a></td>
                <td><a href="/edit/{{ model.__class__.__name__.lower() }}/{{ model.id }}">{{ model.name }}</a></td>
            </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock page_content %}

