{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}


{% block page_content %}
    <div class="container">
    <div class="row">
    <div class="col-sm-12">

    <div class="page-header">
        <div class="row" >
            <div class="col-sm-6 text-left text-info" >
                <h1><strong>{{ model.get_model_friendly_name() }}</strong></h1>
            </div>
            <div class="col-sm-6 text-left" >
            </div>
        </div>
        <div class="row" >
            <div class="col-sm-6 text-left" >
            </div>
            <div class="col-sm-6 text-right" >
                <a href="/add/{{ Table.name.lower() }}" type="button" class="btn btn-lg btn-success btn-labeled"><span class="btn-label btn-label-left"><i class="glyphicon glyphicon-plus"></i></span>Add</a>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-condensed table-striped table-hover text-left">
            <thead>
                <tr class="lead">
                    {% for column in Table.displayed %}
                        <th class="text-left">
                            {% if Table.order.asc %}
                                <a href="{{ Table.name.lower() }}?sort={{ column }}&asc=0">
                            {% else %}
                                <a href="{{ Table.name.lower() }}?sort={{ column }}&asc=1">
                            {% endif %}
                                {{ column.replace("_", " ")|title }}
                            </a>
                        </th>
                    {% endfor %}
                    <th class="col-sm-1">
                    </th>
                </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
                {% for row in Table.records %}
                    <tr name="{{ row.id }}">
                        {% for column in Table.displayed %}
                            <td><a href="/edit/{{ Table.name.lower() }}/{{ row.id }}">{{ row.display_column(column) }}</a></td>
                        {% endfor %}
                        <td class="rowlink-skip">
                            <p class="text-right">
                            <!-- Button trigger modal -->
                            <button id="delete-button" class="btn btn-labeled btn-danger btn-sm" data-toggle="modal" data-target="#{{ Table.name.lower() }}-{{ row.id }}"><span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Delete
                            </button>
                            </p>
                        </td>

                        <!-- START Modal -->
                        <div class="modal" model-id="{{ row.id }}" model-name="{{ Table.name.lower() }}" id="{{ Table.name.lower() }}-{{ row.id }}" tabindex="-1" role="dialog" aria-labelledby="Delete {{ row.name }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Delete {{ row.name }}?</h4>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" name="model-id" value="{{ row.id }}">
                                <input type="hidden" name="model-name" value="{{ Table.name.lower() }}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <a href="/delete/{{ Table.name.lower() }}/{{ row.id }}" type="button" class="btn btn-danger disabled">Confirm</a>
                            </div>
                            </div>
                        </div>
                        </div>
                        <!-- END Modal -->
                  </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    </div>
    </div>
    </div>
{% endblock page_content %}

{% block scripts %}
{{ super() }}
<script>{% include 'dependencies.js' %}</script>
<script>
function getUrlParameter(sParam){
    var sPageURL = window.location.search.substring(1);
    var sURLVariables = sPageURL.split('&');
    for (var i = 0; i < sURLVariables.length; i++) 
    {
        var sParameterName = sURLVariables[i].split('=');
        if (sParameterName[0] == sParam) 
        {
            return sParameterName[1];
        }
    }
}
var jump = getUrlParameter("jump");
if (jump !== undefined) {
    $(document).scrollTop( $("[name='" + jump + "'").offset().top );
    $("[name='" + jump + "'").addClass("success");
    console.log("Jumped to " + jump);
}

</script>
{% endblock scripts %}
